html {
  font-size: 20px;
  text-align: center;
}

body {
  font-family: sans-serif;
}

.skyblue {
  color:skyblue
}

.pink {
  color: rgb(255, 192, 203);
}

.decoration {
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: 2rem;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}


#basic p {
  font-weight: bold;
}